/* style.css */

/* text colors */
.txt-blue { color: #007bff!important; }
.txt-indigo { color: #6610f2!important; }
.txt-purple { color: #6f42c1!important; }
.txt-pink { color: #e83e8c!important; }
.txt-red { color: #dc3545!important; }
.txt-orange { color: #fd7e14!important; }
.txt-yellow { color: #ffc107!important; }
.txt-green { color: #28a745!important; }
.txt-teal { color: #20c997!important; }
.txt-cyan { color: #17a2b8!important; }
.txt-white { color: #fff!important; }
.txt-gray { color: #6c757d!important; }
.txt-gray-dark { color: #343a40!important; }
.txt-primary { color: #007bff!important; }
.txt-secondary { color: #6c757d!important; }
.txt-success { color: #28a745!important; }
.txt-info { color: #17a2b8!important; }
.txt-warning { color: #ffc107!important; }
.txt-danger { color: #dc3545!important; }
.txt-light { color: #f8f9fa!important; }
.txt-dark { color: #343a40!important; }

/* background colors */
.bg-blue { background-color: #007bff!important; }
.bg-indigo { background-color: #6610f2!important; }
.bg-purple { background-color: #6f42c1!important; }
.bg-pink { background-color: #e83e8c!important; }
.bg-red { background-color: #dc3545!important; }
.bg-orange { background-color: #fd7e14!important; }
.bg-yellow { background-color: #ffc107!important; }
.bg-green { background-color: #28a745!important; }
.bg-teal { background-color: #20c997!important; }
.bg-cyan { background-color: #17a2b8!important; }
.bg-white { background-color: #fff!important; }
.bg-gray { background-color: #6c757d!important; }
.bg-gray-dark { background-color: #343a40!important; }
.bg-primary { background-color: #007bff!important; }
.bg-secondary { background-color: #6c757d!important; }
.bg-success { background-color: #28a745!important; }
.bg-info { background-color: #17a2b8!important; }
.bg-warning { background-color: #ffc107!important; }
.bg-danger { background-color: #dc3545!important; }
.bg-light { background-color: #f8f9fa!important; }
.bg-dark { background-color: #343a40!important; }

/* font size */
.fs-small { font-size: small!important; }
.fs-Smaller { font-size: smaller!important; }
.fs-large { font-size: large!important; }
.fs-larger { font-size: larger!important; }
.fs-x-small { font-size: x-small!important; }
.fs-xx-Small { font-size: xx-small!important; }
.fs-x-large { font-size: x-large!important; }
.fs-xx-large { font-size: xx-large!important; }

/* direction of text */
.float-right { float: right!important; }
.float-left { float: left!important; }

/* padding */
.p-0 { padding: 0px!important; }
.p-1 { padding: 5px!important; }
.p-2 { padding: 10px!important; }
.p-3 { padding: 15px!important; }
.p-4 { padding: 20px!important; }
.p-5 { padding: 30px!important; }
.p-6 { padding: 40px!important; }

/* padding */
.m-0 { margin: 0px!important; }
.m-1 { margin: 5px!important; }
.m-2 { margin: 10px!important; }
.m-3 { margin: 15px!important; }
.m-4 { margin: 20px!important; }
.m-5 { margin: 30px!important; }
.m-6 { margin: 40px!important; }

/* diplay enable / disable */
.diplay-enable { display: block!important; }
.diplay-disable { display: none!important; }

/* width */
.w-1 { width: 2em!important; }
.w-2 { width: 4em!important; }
.w-3 { width: 6em!important; }
.w-4 { width: 8em!important; }
.w-5 { width: 10em!important; }

/* height */
.h-1 { height: 2em!important; }
.h-2 { height: 4em!important; }
.h-3 { height: 6em!important; }
.h-4 { height: 8em!important; }
.h-5 { height: 10em!important; }

/* shadow colors */
.shadow-sm-blue { box-shadow: #007bff 0px 0px 5px; }
.shadow-sm-indigo { box-shadow: #6610f2 0px 0px 5px; }
.shadow-sm-purple { box-shadow: #6f42c1 0px 0px 5px; }
.shadow-sm-pink { box-shadow: #e83e8c 0px 0px 5px; }
.shadow-sm-red { box-shadow: #dc3545 0px 0px 5px; }
.shadow-sm-orange { box-shadow: #fd7e14 0px 0px 5px; }
.shadow-sm-yellow { box-shadow: #ffc107 0px 0px 5px; }
.shadow-sm-green { box-shadow: #28a745 0px 0px 5px; }
.shadow-sm-teal { box-shadow: #20c997 0px 0px 5px; }
.shadow-sm-cyan { box-shadow: #17a2b8 0px 0px 5px; }
.shadow-sm-white { box-shadow: #fff 0px 0px 5px; }
.shadow-sm-gray { box-shadow: #6c757d 0px 0px 5px; }
.shadow-sm-gray-dark { box-shadow: #343a40 0px 0px 5px; }
.shadow-sm-primary { box-shadow: #007bff 0px 0px 5px; }
.shadow-sm-secondary { box-shadow: #6c757d 0px 0px 5px; }
.shadow-sm-success { box-shadow: #28a745 0px 0px 5px; }
.shadow-sm-info { box-shadow: #17a2b8 0px 0px 5px; }
.shadow-sm-warning { box-shadow: #ffc107 0px 0px 5px; }
.shadow-sm-danger { box-shadow: #dc3545 0px 0px 5px; }
.shadow-sm-light { box-shadow: #f8f9fa 0px 0px 5px; }
.shadow-sm-dark { box-shadow: #343a40 0px 0px 5px; }
.shadow-lg-blue { box-shadow: #007bff 0px 0px 5px; }
.shadow-lg-indigo { box-shadow: #6610f2 0px 0px 5px; }
.shadow-lg-purple { box-shadow: #6f42c1 0px 0px 5px; }
.shadow-lg-pink { box-shadow: #e83e8c 0px 0px 5px; }
.shadow-lg-red { box-shadow: #dc3545 0px 0px 5px; }
.shadow-lg-orange { box-shadow: #fd7e14 0px 0px 5px; }
.shadow-lg-yellow { box-shadow: #ffc107 0px 0px 5px; }
.shadow-lg-green { box-shadow: #28a745 0px 0px 5px; }
.shadow-lg-teal { box-shadow: #20c997 0px 0px 5px; }
.shadow-lg-cyan { box-shadow: #17a2b8 0px 0px 5px; }
.shadow-lg-white { box-shadow: #fff 0px 0px 5px; }
.shadow-lg-gray { box-shadow: #6c757d 0px 0px 5px; }
.shadow-lg-gray-dark { box-shadow: #343a40 0px 0px 5px; }
.shadow-lg-primary { box-shadow: #007bff 0px 0px 5px; }
.shadow-lg-secondary { box-shadow: #6c757d 0px 0px 5px; }
.shadow-lg-success { box-shadow: #28a745 0px 0px 5px; }
.shadow-lg-info { box-shadow: #17a2b8 0px 0px 5px; }
.shadow-lg-warning { box-shadow: #ffc107 0px 0px 5px; }
.shadow-lg-danger { box-shadow: #dc3545 0px 0px 5px; }
.shadow-lg-light { box-shadow: #f8f9fa 0px 0px 5px; }
.shadow-lg-dark { box-shadow: #343a40 0px 0px 5px; }

/* container */
.container-lg {
    max-width: 1800px;
    margin: 0px auto;
}
.container-sm {
    max-width: 1000px;
    margin: 0px auto;
}
/* ul */
ul.ul-flex {
    list-style: none;
    display: flex;
}
ul.ul-grid {
    list-style: none;
    display: grid;
}
/* li */
li.li {
    padding: 0.5em;
    margin: 0px;
}

/* a href */
.href-blue ,
.href-indigo ,
.href-purple ,
.href-pink ,
.href-red ,
.href-orange ,
.href-yellow ,
.href-green ,
.href-teal ,
.href-cyan , 
.href-whi, 
.href-gray , 
.href-gray-dark , 
.href-primary , 
.href-secondary , 
.href-success ,
.href-info , 
.href-warning , 
.href-danger , 
.href-light , 
.href-dark {
    text-decoration: none;
    font-size: 16px;
    font-family: serif;
    transition: .8s;
    color: #fff;
}

/* a hover */
.href-blue:hover { background-color: #007bff!important;color: #000;transition: .8s; }
.href-indigo:hover { background-color: #6610f2!important;color: #000;transition: .8s; }
.href-purple:hover { background-color: #6f42c1!important;color: #000;transition: .8s; }
.href-pink:hover { background-color: #e83e8c!important;color: #000;transition: .8s; }
.href-red:hover { background-color: #dc3545!important;color: #000;transition: .8s; }
.href-orange:hover { background-color: #fd7e14!important;color: #000;transition: .8s; }
.href-yellow:hover { background-color: #ffc107!important;color: #000;transition: .8s; }
.href-green:hover { background-color: #28a745!important;color: #000;transition: .8s; }
.href-teal:hover { background-color: #20c997!important;color: #000;transition: .8s; }
.href-cyan:hover { background-color: #17a2b8!important;color: #000;transition: .8s; }
.href-white:hover { background-color: #fff!important;color: #000;transition: .8s; }
.href-gray:hover { background-color: #6c757d!important;color: #000;transition: .8s; }
.href-gray-dark:hover { background-color: #343a40!important;color: #000;transition: .8s; }
.href-primary:hover { background-color: #007bff!important;color: #000;transition: .8s; }
.href-secondary:hover { background-color: #6c757d!important;color: #000;transition: .8s; }
.href-success:hover { background-color: #28a745!important;color: #000;transition: .8s; }
.href-info:hover { background-color: #17a2b8!important;color: #000;transition: .8s; }
.href-warning:hover { background-color: #ffc107!important;color: #000;transition: .8s; }
.href-danger:hover { background-color: #dc3545!important;color: #000;transition: .8s; }
.href-light:hover { background-color: #f8f9fa!important;color: #000;transition: .8s; }
.href-dark:hover { background-color: #343a40!important;color: #000;transition: .8s; }
